{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">➕ Nova Ordem de Serviço</h5>
      <a href="{% url 'dashboard' %}" class="btn btn-sm btn-outline-secondary">Voltar</a>
    </div>

    <div class="card-body">
      <form method="post">
        {% csrf_token %}

        <!-- CLIENTE -->
        <h6>Cliente</h6>

        <select name="cliente" class="form-select mb-2">
          <option value="">Selecione</option>
          {% for c in clientes %}
              <option value="{{ c.id }}">{{ c.nome }}</option>
          {% endfor %}
      </select>


        <div class="border rounded p-3 mb-4">
          <strong>Cadastrar novo cliente</strong>
          <input type="text" name="cliente_nome" class="form-control mt-2" placeholder="Nome do cliente">
          <input type="text" name="cliente_telefone" class="form-control mt-2" placeholder="Telefone">
        </div>

        <!-- VEÍCULO -->
        <h6>Veículo</h6>

        <select name="veiculo" class="form-select mb-2">
          <option value="">Selecionar veículo existente</option>
          {% for v in veiculos %}
            <option value="{{ v.id }}">{{ v.modelo }} - {{ v.placa }}</option>
          {% endfor %}
        </select>

        <div class="border rounded p-3 mb-4">
          <strong>Cadastrar novo veículo</strong>
          <input type="text" name="veiculo_modelo" class="form-control mt-2" placeholder="Modelo">
          <input type="text" name="veiculo_placa" class="form-control mt-2" placeholder="Placa">
          <input type="text" name="veiculo_ano" class="form-control mt-2" placeholder="Ano">
        </div>

        <!-- KM -->
        <div class="mb-3">
          <label class="form-label">KM</label>
          <input type="number" name="km" class="form-control" required>
        </div>

        <!-- OBS -->
        <div class="mb-3">
          <label class="form-label">Observação</label>
          <textarea name="observacao" class="form-control" rows="3"></textarea>
        </div>

        <!-- BOTÕES -->
        <div class="d-flex justify-content-end gap-2">
          <a href="{% url 'dashboard' %}" class="btn btn-outline-secondary">Cancelar</a>
          <button type="submit" class="btn btn-primary">Salvar Ordem de Serviço</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
